/* oik-magnetic-poetry/style.scss
*/
/**
  magnetic.css for oik-magnetic-poetry
 */

div.mp {
  width: 100%;
  font-family: "Times New Roman", serif;
  font-size: 1.8em;

  margin: 40px 2%;
}

span.mp {
  padding: 5px;
  border: 1px solid grey;
  margin: 5px 5px 5px 5px;
  background: white;
  display: inline-block;
}

.mp p {
  float: none;
  clear: both;
  line-height: 1em;
  padding-top: 0em;
  margin: 5px;
  font-size: unset;
}


span.mp.mp-10 { transform: rotate( -10deg );}
span.mp.mp-9 { transform: rotate( -9deg );}
span.mp.mp-8 { transform: rotate( -8deg );}
span.mp.mp-7 { transform: rotate( -7deg );}
span.mp.mp-6 { transform: rotate( -6deg );}
span.mp.mp-5 { transform: rotate( -5deg );}
span.mp.mp-4 { transform: rotate( -4deg );}
span.mp.mp-3 { transform: rotate( -3deg );}
span.mp.mp-2 { transform: rotate( -2deg );}
span.mp.mp-1 { transform: rotate( -1deg );}

span.mp.mp1 { transform: rotate( 1deg); }
span.mp.mp2 { transform: rotate( 2deg); }
span.mp.mp3 { transform: rotate( 3deg); }
span.mp.mp4 { transform: rotate( 4deg); }
span.mp.mp5 { transform: rotate( 5deg); }
span.mp.mp6 { transform: rotate( 6deg); }
span.mp.mp7 { transform: rotate( 7deg); }
span.mp.mp8 { transform: rotate( 8deg); }
span.mp.mp9 { transform: rotate( 9deg); }
span.mp.mp10 { transform: rotate( 10deg); }


